.column {
  float: left;
  width: 33.33%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

body {
  background-color: powderblue;
}

h1 {
  color: #0033cc;
}

h3 {font-style: : comic sans ms;
}

p {
  color: #000066;
}

table, th, td {border: 2px solid black;}

